<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vhly.mobi.capstone.commonlib"
        >

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            >

    </application>

</manifest>
